%header
  = link_to "FLOAdmin", root_path, id: "logo_link"
  #session_corner
    = link_to "admin1", root_path
    = link_to "Logout", root_path
  #new_element_corner
    %a.new_link.new_blog
    %a.new_link.new_item
  .clearfix