%nav
  #nav_wrapper
    %a.current
      %span.nav_icon.home
      %span.nav_caption Dashboard
    %a
      %span.nav_icon.item
      %span.nav_caption Items
    %a
      %span.nav_icon.inbox
      %span.nav_caption Inbox
    %a
      %span.nav_icon.blog
      %span.nav_caption Blog
    %a
      %span.nav_icon.setting
      %span.nav_caption Settings