body {
  background: url(/assets/bgnoise.png);
  font-family: helvetica neue, helvetica, arial, sans-serif;
  color: #4d4d4d;
}

header {
  #logo_link {
    font-size: 42px;
    font-weight: bold;
  }
  #session_corner {
    float: right;
    padding-top: 15px;
    a {
      font-size: 15px;
      text-transform: uppercase;
      color: #666;
      text-shadow: 0 1px #fff;
      margin-left: 15px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#main {
  width: 940px;
  overflow-x: visible;
  position: relative;
  nav {
    width: 190px;
    overflow-x: visible;
    position: absolute;
    padding-top: 15px;
    #nav_wrapper {
      width: 200px;
      &.fixed_cage {
        top: 30px;
      }
      a {
        display: block;
        margin-bottom: 10px;
        cursor: pointer;
        img, span {
          vertical-align: middle;
        }
        img {
          margin-right: 10px;
        }
      }
    }
  }
  #content_pane {
    width: 750px;
    background: #fff;
    min-height: 1000px;
    position: relative;
    left: 60px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
    -webkit-transition: left 0.2s;
    -moz-transition: left 0.2s;
    -o-transition: left 0.2s;
    transition: left 0.2s;
  }
  #content_pane.expanded {
    left: 190px;
  }
}

footer {
  text-align: center;
  padding: 15px 0 25px;
}
